@import './mixins.scss';

#banner {
  margin-top: 2%;
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 4fr;
  // height: 400px;
  justify-content: center;

  #logo {
    width: 100%;
    @include shadow;
  }

  #title {
    text-align: center;

    #company-name {
      @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
      font-family: 'Pacifico', cursive;
      font-size: 8rem;
      @include shadow;
    }

    #sub-title {
      @include shadow;
    }

  }

}