@import "./mixins.scss";

#nav {
  z-index: 99;
  @include shadow;
  opacity: 0.86;
  background-color: $applecore;

  #brand-icon {
    fill: $blueberry;
  }

  button {
    background-color: $applecore;
    border: none;
  }

  .navbar-nav {
    .nav-link {
      margin: auto;
    }
  }

  .navTitle:hover {
    cursor: pointer;
  }

  #links {}
}