@import './mixins.scss';

#nav {
  z-index: 99;
  @include shadow;
  opacity: .86;
  background-color: $applecore;

  .navbar-nav {

    .nav-link {
      margin: auto;
    }
  }

  .navTitle {}

  #links {}

  button {
    background-color: $applecore;
    border: none;
  }
}