// Variables
$secondary-color: rgba(160, 160, 160, .6);

$primary-text: black;
$secondary-text: darkgrey;

$blueberry: #6B7A8F;
$apricot: #F7882F;
$citrus: #F7C331;
$applecore: #DCC7AA;

@mixin shadow {
  filter: drop-shadow(2px 2px 2px);
}

@mixin item-container {
  background-color: $blueberry;
  // opacity: .7;
  border-radius: 20px;
}