// Variables
$secondary-color: rgba(160, 160, 160, .6);

@mixin shadow {
  filter: drop-shadow(2px 2px 2px grey);
}

@mixin item-container {
  background-color: $secondary-color;
  opacity: .7;
  border-radius: 20px;
}