@import "./mixins.scss";

$radius: 15px;

.card-div {
  width: 33.3%;
  padding: 2%;

  .dog-card {
    @include shadow;
    border-radius: $radius;
    padding: 4px;

    img {
      border-radius: $radius $radius 0 0;
    }
  }
}

.card-img-top {
  width: 100%;
  height: 29vh !important;
  object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  .card-div {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .card-div {
    width: 100%;
  }
}
