@import './mixins.scss';

.splashContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6vh;
  font-size: 23px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;

  #banner,
  img,
  #title {
    // border: 1px solid;
  }

  #action-selector {
    margin-top: 2%;
    @include item-container;
    text-align: center;
    padding: 1%;

    #splashButton {
      &:hover {}

      @include shadow;
      height: 81px;
      width: 150px;
      margin: 30px;
      border-radius: 5px;
      font-weight: 900;
      font-size: 1.6rem;
    }
  }
}